*{
	border-radius: 8px;
}

window{
	font-size: 20px;
	#font-family: "Terminus";
	font-weight: bold;
	background-color: rgba(70,71,62,0.9);
	color: #DCDCDC;
}

#entry:selected {
	background-color: #6b6c65

}
#entry{
	padding: 0.33em;
}

#text:selected {
	color: #333333;
}

#input{
	background-color : rgba(70,71,62,0.8);
	color: white;
}

image{
	margin-left: .25em;
	margin-right: .27em;

}
